<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Balances</key>
	<array>
		<dict>
			<key>key</key>
			<string>住居費</string>
			<key>value</key>
			<integer>23</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>食費</string>
			<key>value</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>水道光熱費</string>
			<key>value</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>通信費</string>
			<key>value</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>保険料</string>
			<key>value</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>教育費</string>
			<key>value</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>被服費</string>
			<key>value</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>日用雑費</string>
			<key>value</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>交際費</string>
			<key>value</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>自動車関連費</string>
			<key>value</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>レジャー費</string>
			<key>value</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>小遣い</string>
			<key>value</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>嗜好品</string>
			<key>value</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>その他</string>
			<key>value</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>貯蓄</string>
			<key>value</key>
			<integer>11</integer>
		</dict>
	</array>
</dict>
</plist>
